---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---

<BaseLayout pageTitle = {pageTitle}>
    <section>
        <h2>About Me</h2>
        <p>
            Hello, this is my about page
        </p>
        <img
        src="https://example.com"
        alt="Sample Project image"
        />
    </section>
</BaseLayout>



