---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Actuary Exams";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Coming soon: Exam P, FM, and study resources.</p>
</BaseLayout>
