---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Actuary Exams";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="exams">
    <h1 class="exams__title">Actuary Exams</h1>

    <article class="exam">
      <h2 class="exam__title">Probability Exam</h2>
      <p class="exam__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat porta nulla,
        quis vehicula nisi porttitor eget. Fusce eget vehicula nisl, at molestie magna.
        Morbi lacinia dui eget libero placerat semper. Aenean blandit cursus quam, at
        condimentum est mattis elementum. Mauris interdum bibendum risus. Phasellus sit
        amet cursus leo, eu feugiat est. Praesent sit amet mattis
      </p>
    </article>

    <article class="exam">
      <h2 class="exam__title">Financial Mathematics Exam</h2>
      <p class="exam__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat porta nulla,
        quis vehicula nisi porttitor eget. Fusce eget vehicula nisl, at molestie magna.
        Morbi lacinia dui eget libero placerat semper. Aenean blandit cursus quam, at
        condimentum est mattis elementum. Mauris interdum bibendum risus. Phasellus sit
        amet cursus leo, eu feugiat est. Praesent sit amet mattis
      </p>
    </article>
  </section>
</BaseLayout>