---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Experience";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="experience">
    <h1 class="experience__title">Experience</h1>

    <div class="experience__grid">
      <!-- LEFT COLUMN (Boxes) -->
      <div class="experience__left">
        <div class="job-box">
          <h2>Student Relationship Banker</h2>
          <p>First National Bank</p>
        </div>

        <div class="job-box">
          <h2>IT Help Desk</h2>
          <p>Allegheny College</p>
        </div>

        <div class="job-box">
          <h2>Supervisor</h2>
          <p>Amusement Park</p>
        </div>
      </div>

      <!-- RIGHT COLUMN (Descriptions) -->
      <div class="experience__right">
        <div class="job-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat
            porta nulla, quis vehicula nisi porttitor eget. Fusce eget vehicula nisl,
            at molestie magna.
          </p>
        </div>

        <div class="job-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat
            porta nulla, quis vehicula nisi porttitor eget. Fusce eget vehicula nisl,
            at molestie magna.
          </p>
        </div>

        <div class="job-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat
            porta nulla, quis vehicula nisi porttitor eget. Fusce eget vehicula nisl,
            at molestie magna.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>