---
<<<<<<< HEAD
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="home-hero">
    <h1 class="home-hero__title">Nathan Kisiel</h1>
    <p class="home-hero__subtitle">Mathematics Student</p>

    <p class="home-hero__blurb">
      I am a senior mathematics major pursuing an actuarial career, with a strong focus on financial modeling,
      interest theory, and long-term risk analysis. I am passionate about using mathematics to evaluate uncertainty
      and make informed financial decisions.
    </p>
  </section>
</BaseLayout>

=======
const pageTitle = "Landing";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle = {pageTitle}>
    <section>
        <h2>Home</h2>
        <p>
            Welcome, this is my home page
        </p>
        <img
        src="https://example.com"
        alt="Sample Project image"
        />
    </section>
</BaseLayout>
>>>>>>> 3c8d9ddbffa67b1ea4bedfd9993c879d6dda1257
