---
const pageTitle = "Landing";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle = {pageTitle}>
    <section>
        <h2>Home</h2>
        <p>
            Welcome, this is my home page
        </p>
        <img
        src="https://example.com"
        alt="Sample Project image"
        />
    </section>
</BaseLayout>