---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="home-hero">
    <h1 class="home-hero__title">Nathan Kisiel</h1>
    <p class="home-hero__subtitle">Mathematics Student</p>

    <p class="home-hero__blurb">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </section>
</BaseLayout>

