---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="projects">
    <h1 class="projects__title">Projects</h1>

    <div class="projects__grid">
      <article class="project-card">
        <img
          class="project-card__img"
          src="/img/placeholder.png"
          alt="Project placeholder"
        />
        <h2 class="project-card__title">Probability Distribution</h2>
        <p class="project-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat
          porta nulla, quis vehicula nisi porttitor eget. Fusce eget vehicula
          nisl, at molestie magna. Morbi lacinia dui eget libero placerat
          semper.
        </p>
      </article>

      <article class="project-card">
        <img
          class="project-card__img"
          src="/img/placeholder.png"
          alt="Project placeholder"
        />
        <h2 class="project-card__title">Data Analysis</h2>
        <p class="project-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat
          porta nulla, quis vehicula nisi porttitor eget. Fusce eget vehicula
          nisl, at molestie magna. Morbi lacinia dui eget libero placerat
          semper.
        </p>
      </article>

      <article class="project-card">
        <img
          class="project-card__img"
          src="/img/placeholder.png"
          alt="Project placeholder"
        />
        <h2 class="project-card__title">Senior Project</h2>
        <p class="project-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat
          porta nulla, quis vehicula nisi porttitor eget. Fusce eget vehicula
          nisl, at molestie magna. Morbi lacinia dui eget libero placerat
          semper.
        </p>
      </article>
    </div>
  </section>
</BaseLayout>