---
<<<<<<< HEAD
import Nav from '../components/Navigation.astro';
---
<header>
  <nav>
    <Nav />
  </nav>
=======
import Nav from '../components/Nav.astro';
---
<header>
    <nav>
        <Nav />
    </nav>
>>>>>>> 3c8d9ddbffa67b1ea4bedfd9993c879d6dda1257
</header>