---
const { pageTitle } = Astro.props;
<<<<<<< HEAD
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
    <link rel="stylesheet" href="/style/style.css" />
	</head>
	<body>
		<Header />
		<main>
            <slot />
		</main>
		<Footer /> 
	</body>
</html>
=======
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header />
    <main>
      <h1>{pageTitle}</h1>

      <slot />
    </main>

    <Footer />
  </body>
</html>



>>>>>>> 3c8d9ddbffa67b1ea4bedfd9993c879d6dda1257
